<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotstar Home Page</title>
    {% load static %}
        <link rel="stylesheet" href='{% static 'main.css' %}'>
</head>
<body>
    <div class="header">
        <h1>HOTFLIX</h1>
        <a class="logout-button" href='{% url 'logout' %}'>{{request.user.username}}</a>
        
    </div>
    <div class="nav">
        <a href='{% url 'home' %}'>Home</a>
        <a href='{% url 'movies' %}'>Movies</a>
        <a href='{% url 'tvshows' %}'>TV Shows</a>
        <a href='{% url 'sports' %}'>Sports</a>
        <a href='{% url 'premium' %}'>Premium</a>
    </div>
    
    {% block contant %}



    {% endblock %}
    <div class="footer">
        <p>&copy; 2025 HOTFLIX. All Rights Reserved.</p>
    </div>
</body>
</html>